.clear
{
    clear: both;
}

.invalid
{
    border: 1px solid red;
}

body *
{
    font-family: 'Montserrat', sans-serif;
}

header
{
    background-color: #336633;
}

.wrap
{
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid;*/
}

.wrap span
{
    padding: 4px;
    margin: 2px;
    cursor: pointer;
}

.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li
{
    display: inline-block;
    padding: 4px;
    margin: 2px;
}

.menu ul li a
{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover
{
    text-decoration: underline;
}

.content
{
    width: 1200px;
    margin: 0 auto;
    /*background-color: rgb(230, 230, 230);*/
    padding: 1%;
}

.un-logo
{
    width: 328px;
    height: 250px;
    background-image: url(../img/oseu.png);
    background-repeat: no-repeat;
    float: left;
}

.un-disc
{
    width: 370px;
    float: left;
}

.fac-logo
{
    background-image: url(../img/oseu-fkn.png);
    width: 328px;
    height: 200px;
    float: left;
}
.fac-disc
{
    width: 370px;
    float: left;
}

.fac-disc ul li
{
    list-style: none;
}

.fac-disc ul li span
{
    color: #669966;
}

.fac-disc ul li span.email
{
    color: #3366ff;
}