.hidden
{
    display: none;
}
.form-signin
{
    width: 500px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox
{
    margin-bottom: 30px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin input,
.form-signin div
{
    margin: 4px;
}

.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    /*margin-bottom: 20px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin select
{
    background-color: #fff;
    border: none;
    width: 32%;
}

.form-signin select option
{
    background-color: #fff;
}

.form-signin button
{
    margin-top: 20px;
}

.authorization-wrapper
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.form-wrapper
{
    background-color: #fff;
    padding: 10px;
    width: 330px;
}

label.tab
{
    color: #000;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

label.tab.active
{
    background-color: #eceff1;
    color: #80cbc4;
}