
body
{
    overflow: hidden;
}

main div.presentation-wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
}

div.nav-wrapper
{
    position: absolute;
    height: inherit;
    width: 100px;
    z-index: 100;
    left: 0;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
}

div.nav-wrapper::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 90%;
    background-color: #000;
    opacity: .35;
    z-index: 10
}


div.presentation-nav div.section-title
{
    position: relative;
    top: -5px;
    color: #000;
    font-size: 6px;
    cursor: pointer;
}

.nav-section {
    position: relative;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 90%;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10
}

.nav-section > div.section-title {
    position: relative;
    top: -5px;
    left: 55px;
    color: #000;
    font-size: 6px;
    cursor: pointer;
}

.nav-section > div.section-title span {
    position: relative;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    visibility: hidden;
}

.nav-section > div.section-title::before {
    position: absolute;
    color: #555;
    left: -45px;
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}


.nav-section > div:nth-child(1)::before {
    content: "01";
}

.nav-section > div:nth-child(2)::before {
    content: "02";
}

.nav-section > div:nth-child(3)::before {
    content: "03";
}


.nav-section > div.section-title.nav-active {
    color: #0f33ff;
    -webkit-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out
}

.nav-section > div.section-title.nav-active span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

.nav-section > div.section-title.nav-active::before {
    font-weight: bold;
    color: #000
}

div.presentation-section
{
    position: relative;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    display: block;
    transition: background .4s ease-in-out;
}

div.presentation-section.section-active
{
    height: 100%;
    display: block;
}

div.presentation-section.named--home-adventures
{
    background-image: url('/static/resources/images/room.jpg');
}

div.presentation-section.named--to-the-stars
{
    background-image: url('/static/resources/images/stars.jpg');
}

div.presentation-section.named--gaudeamus-igitur
{
    background-image: url('/static/resources/images/gaudeamus.jpg');
}
