*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear
{
    clear: both;
}

.invalid
{
    border: 1px solid red;
}

body *
{
    font-family: 'Montserrat', sans-serif;
}

header
{
    background-color: #336633;
    height: 100%;
    float: left;
}

.wrap
{
    /*width: 1200px;*/
    /*margin: 0 auto;*/
    /*border: 1px solid;*/
}

.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li
{
    /*display: inline-block;*/
    padding: 4px;
    margin: 2px;
}

.menu ul li a
{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover
{
    text-decoration: underline;
}
