*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear
{
    clear: both;
}

.invalid
{
    border: 1px solid red;
}

body *
{
    font-family: 'Montserrat', sans-serif;
}

header
{
    display: block;
    width: 320px;
    height: 100vh;
    background-color: #a5d6a7;
    float: left;
}

header nav div.burger
{
    width: 25px;
    height: 25px;
    float: right;
    line-height: 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: #fff3e0;
}

header ul
{
    list-style: none;
    margin: 2px;
    padding: 4px;
}

header ul li
{
    padding: 4px;
}

header ul li a
{
    text-decoration: none;
    color: #fff3e0;
}
header ul li a:hover
{
    color: #ffe0b2;
}

header ul li a i
{
    padding: 4px;
}