.clear
{
    clear: both;
}

.invalid
{
    border: 1px solid red;
}

body
{
    background-image: url(../img/main-backgroun-blur.png);
    background-attachment: scroll;
    -webkit-background-size: 100vw 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

body *
{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

form
{
    /*display: none;*/
    width: 350px;
    text-align: center;
    padding: 4px;
    background-color: rgba(250, 250, 250, 0.9);
    font-weight: regular;
}

form input
{
    background: rgba(20, 20, 20, 0.2);
    border: none;
    box-shadow: 0px 0px 1px 1px #888;
    margin: 3px;
    padding: 4px;
    width: 220px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

form input[type="submit"]
{
    background: rgb(75, 75, 75);
    margin-top: 7px;
    border: none;
    width: 150px;
    height: 30px;
}

div.grid
{
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: 
        "navigation . role-buttons"
        ". content form"
        /*"content content";*/
}

.navigation
{
    justify-self: left;
    grid-area: navigation;
}

.role-buttons
{
    justify-self: right;
    grid-area: role-buttons;
}

.role-buttons
{
    margin-right: 40px;
}
.content
{
    justify-self: center;
    grid-area: content;
}

@font-face {
    font-family: Impact; /* Гарнитура шрифта */
    src: url(ofont.ru_Impact.ttf); /* Путь к файлу со шрифтом */
}

.content .text p:nth-child(2)
{
    /*font-weight: bold;*/
    font-size: 2.2em;
    font-family: Impact;
    letter-spacing: 25px;
}

.form
{
    justify-self: center;
    grid-area: form;
}

form p
{
    font-weight: bold;
    color: #333;
}
div.content div.logo
{
    width: 200px;
    height: 250px;
    background-image: url(../img/arms-odeku-200x250_nobg.png);
    display: inline-block;
}

div.content div.logo2
{
    width: 336px;
    height: 200px;
    display: inline-block;
    background-image: url(../img/header_fkn.png);
}

.grid-item3
{
    display: grid;
    grid-template-columns: 220px 250px 336px;
    align-items: center;
    justify-items: center;
}

.navigation ul,
.role-buttons ul
{
    list-style: none;
}

.navigation ul li,
.role-buttons ul li
{
    display: inline-block;
    padding: 5px;
    margin: 2px;
}


.navigation ul li a,
.role-buttons ul li a
{
    text-decoration: none;
}

.navigation ul li a:hover,
.role-buttons ul li a:hover
{
    text-decoration: underline;
}